:root {
    --dark: #333;
    --light: #aaa;
    --olive: #6a8e23a9;
    --green: #a2ed0ded;
    --fudge: #371c02e8;
    --skyblu: #03adf6;
    --navy: #17156a;
    --bordpara: 8px solid var(--navy);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body {
    font-family: Merriweather, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
}

.max-width{
    max-width:2560px;
    padding: 0 80px;
    margin: auto;
}


a {
    color: var(--olive);
    transition: color 0.5s ease;
}

a:hover {
    color: var(--green);
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--fudge);
    padding:15px;
}

.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .logo{
    color: var(--olive);
    font-size:35px;
    font-weight:600;
}

.navbar .logo span{
    color:var(--green);
}

.navbar .menu li {
    list-style:none;
    display: inline-block;
    font-size:28px;
}
    
.aboutme{
    display:flex;
}

.aboutme .max-width{
    margin:auto -40px auto 40px;
}

.aboutme .aboutme-content .text-1{
    font-size:27px;
}

.aboutme .aboutme-content .text-2{
    font-size:50px;
    font-weight: 600;
  

}

.aboutme .aboutme-content .text-3{
    font-size:27px;
}

.aboutme .aboutme-content .text-3 span{
    color: var(--skyblu);
}

.folio {
    display:flex;
    flex-flow:row, wrap;
    justify-content:space-evenly;
    
}
.card {
    padding: 5px;

}

.card header {
  padding: 20px;
  background: var(--skyblu);
  color: var(--light);
}

.card img {
  width: 100%;
}

#photo {
    display: flex;
    padding: 125px 0;
    margin-left: auto;
    margin-right: 40px;
    max-width: 40%;
    height: auto;
    border-radius: 25%;
    min-width:400px;
}

#contact{
    padding-top:80px;
    text-align:center;
}
h1{
    font-size:50px;
    font-weight:bold;
}
  
h2{
    padding-top:25px;
    font-size:30px;
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    
    .navbar{
        display:block;
    }

    .card {
        flex-flow: column wrap;
        width:100%;
        margin:auto auto;
    }
    
    .aboutme{
        padding-top:75px;
        flex-flow: column-reverse wrap;
        width:100%;
        margin:auto auto;
    
    }
    .aboutme .max-width{
        margin: auto;
    }
    #photo {
        padding: 150px 0 15px 50px;
        border-radius:100%;
        margin:auto 0 auto -40px;
    }
    }